<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/styles/estilo.css">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>HemoHearth</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../assets/img/favicon.png" width="60px" height="70px" class="navbar-brand" alt="">HemoHearth</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#home">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-info" href="login.php">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Section -->
    <header id="header" class="jumbotron">
        <div class="header-text">
            <h1>HemoHearth</h1>
            <p>Tu salud, es nuestra prioridad.</p>
        </div>
    </header>

    <!-- Servicios Section -->
    <section id="services" class="py-5">
         <h2 class="card-title text-center pb-5">Servicios</h2>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card text-center border-info mb-4">
                        <div class="card-body text-info">
                            <i class="fas fa-stethoscope icon-lg"></i>
                            <h3 class="card-title text-info">Revisión médica</h3>
                            <p class="card-text">Obtenga un chequeo médico completo de nuestros médicos expertos.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card text-center border-info mb-4">
                        <div class="card-body text-info">
                            <i class="fas fa-user-md icon-lg"></i>
                            <h3 class="card-title">Consulta de especialista</h3>
                            <p class="card-text">Consulta con nuestros médicos especialistas para un asesoramiento de salud personalizado.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card text-center border-info mb-4">
                        <div class="card-body text-info">
                            <i class="fas fa-ambulance icon-lg"></i>
                            <h3 class="card-title">Cuidados de emergencia</h3>
                            <p class="card-text">Disponible 24/7 para atención médica de emergencia.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card text-center border-info mb-4">
                        <div class="card-body text-info">
                            <i class="fas fa-flask icon-lg"></i>
                            <h3 class="card-title">Laboratorio</h3>
                            <p class="card-text">Estaremos con usted para asesorarlo ante, durante y despúes de la prueba.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card text-center border-info mb-4">
                        <div class="card-body text-info">
                            <i class="fas fa-hospital icon-lg"></i>
                            <h3 class="card-title">Atención hospitalaria</h3>
                            <p class="card-text">Brindamos una atención hospitalaria integral y de alta calidad para satisfacer todas tus necesidades médicas.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card text-center border-info mb-4">
                        <div class="card-body text-info">
                            <i class="fas fa-baby icon-lg"></i>
                            <h3 class="card-title">Pediatria</h3>
                            <p class="card-text">Nuestro equipo de atención de expertos tiene una reputación experta para los niños.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contacta Section -->
    <section id="contact" class="py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-center">Contacto</h3>
                            <form>
                                <div class="form-group">
                                    <label for="name">Nombre</label>
                                    <input type="text" class="form-control" id="name" name="name" required>
                                </div>
                                <div class="form-group">
                                    <label for="email">Correo electrónico </label>
                                    <input type="email" class="form-control" id="email" name="email" required>
                                </div>
                                <div class="form-group">
                                    <label for="message">Mensaje</label>
                                    <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
                                </div>
                                <button type="submit" class="btn bg-info btn-block text-white">Enviar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer Section -->
    <footer class="bg-light text-center text-lg-start" style="background-color: #efd4d4;">
        <section class="mb-4">
             <a href="https://www.facebook.com" target="_blank" class="social-icons"><i class="fab fa-facebook"></i></a>
             <a href="https://twitter.com" target="_blank" class="social-icons"><i class="fab fa-twitter"></i></a>
             <a href="https://www.instagram.com" target="_blank" class="social-icons"><i class="fab fa-instagram"></i></a>
        </section>
        <div class="text-center p-3" style="background-color: rgba(241, 237, 237, 0.894);">
             <p>&copy; 2023 HemoHearth. derechos reservados.</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="../assets/scripts/bootstrap.min.js"></script>
</body>
</html>